<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
	<h2>There are no books currently in this category</h2>
	<% else %>
	<% @books.each do |book| %>
	<a href="/books/<%= book.id %>"></a>
		<%= image_tag book.book_img.url(:book_index) %>
	<% end %>
<% end %>

